name: build 

on: 
  workflow_dispatch:
    inputs:
      platform:
        description: "platform"
        required: true
        default: "Merged"
        type: choice
        options:
        - Merged

jobs:
  merged:
    runs-on: Windows-2022 
    steps: 
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with: 
        python-version: '3.11'
        cache: 'pip'
    - uses: actions/cache@v4 
      with:
        key: env-files-win-laz
        path: |
          ${{ github.workspace }}/src-materials
    - run: pip install -r requirements.txt
    - run: |
        lazurite build ./proj -p merged -v --no-zip
    - uses: actions/upload-artifact@v4
      with:
        name: fullbright
        path: ${{github.workspace}}


